<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Category Index - Cybrix's blog</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="site-main">
        <div class="site-header">
            <%- include('../includes/header') %>
        </div>
        <div class="main-content">
            <div class="centered-box">
                <% blog.forEach(post => { %>
                 <a href="/blog/post/<%- post.url %>"><%- post.title %></a>
                <% }) %>
            </div>
            <div class="blurbs">
            </div>

        </div>
        <div class="footer"><%- include('../includes/footer') %></div>
    </div>
    
</body>
</html>