<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybrix.Dev</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('./includes/nav') %>

    <div class="site">
        <div class="main-content">
            <div class="content-title">WELCOME</div>
            <p>Hello and welcome to my site!</p>
            <p>My name is Cybrix! I'm 20 Years old DOB: (01/25/2004 04:12:14PM EST)</p>
            <p>I'm a huge nerd! I like VR, Eletronics, Retro Computers, Radio broadcasting, Servers Linux (I use Arch btw) and some other things!</p>
            <p>My current projects include:</p>

                <li>-This website.</li>
            <p>I sometimes dable in programming! My main languages are Node(JS) and C#</p>

        </div>
    </div>
    
</body>
</html>