<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[Internall screaming]</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="site-main">
        <div class="main-content">
            <p style="color: aqua;">Cybrix Website version 1.0.0D</br>
            &copy;2024 ItsCybrix</p>
            <p>[ <span style="color: lime;">OK</span> ] Loading Website</p>
            <p>[ <span style="color: lime;">OK</span> ] Loading Navigation...</p>
            <%- include('includes/nav.ejs') %>
            <p>[ <span style="color: lime;">OK</span> ] Loading Page Content...</p>
    </div>
</body>
</html>
