<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home • Cybrix.dev</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="site-main">
        <div class="site-nav">
            <%- include('./includes/nav') %>
        </div>

        <%- include('./includes/contentWarning') %>


            <img src="/img/Cybrix Banner.png" height=" 128px">
            <p>Hello and welcome to my website</p>
            <p>The name's Cybrix, I'm 21, male, a furry with <a href="/fursonas"><span style="color: red;">(2)</span></a> fursona's currently and I'm also a massive VR nerd (3300 Hours spent in VR)</p>
            <p>I'm also a huge fan of Radio broadcasting FM, AM and I'm also starting to get into HAM radio.</p>
            <p>I'll try not to clutter the homepage too much. If you want to learn more about my hobbies I have various blog articles on this website.</p>
            <p><a href="/blog/category/VR"><span style="color: red;">VR</span></a> | <a href="/blog/category/Furry"><span style="color: red;">Furry</span></a> | <a href="/blog/category/Radio"><span style="color:  red;">Radio</span></a></p>
            <p>If you want to find me on socials you can find my links <a href="/links"><span style="color: red;">HERE</span></a></p>
            <p>If you need to contact me please use <a href="/contact"><span style="color: red;">this form</span></a> or DM me on discord (I will not respond anywhere else, as that means you did not read this and I that rate I don't care)</p>
        </div>
        <div class="footer">
            running version: <%- siteVersion %>
        </div>
    </div>
</body>



</html>