<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybrix's website - Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="site-main">
        <div class="site-header">
            <%- include('./includes/header') %>
        </div>
        <div class="main-content">
            <div class="centered-box">
                <p>Hello and welcome to my website</p>
            <p>The name's Cybrix, I'm 21, male, a furry with <a href="/fursonas"><span style="color: red;">(2)</span></a> fursona's currently and I'm also a massive VR nerd (3500 Hours spent in VR)</p>
            <p>I'm also a huge fan of Radio broadcasting FM, AM and I'm also starting to get into HAM radio.</p>
            <p>I'll try not to clutter the homepage too much. If you want to learn more about my hobbies I have various blog articles on this website.</p>
            <p><a href="/blog/category/VR"><img src="/img/icons/win98/doctor_watson.png" height="24px" style="vertical-align: middle;"> <span style="color: red;">VR</span></a> | <a href="/blog/category/Furry"><img src="/img/icons/win98/utopia_smiley.png" height="24px" style="vertical-align: middle;"> <span style="color: red;">Furry</span></a> | <a href="/blog/category/Radio"><img src="/img/icons/win98/channels-4.png" height="24px" style="vertical-align: middle;"> <span style="color:  red; vertical-align: middle;">Radio</span></a> | <a href="/blog/category/homelab"><img src="/img/icons/win98/network_cool_two_pcs-1.png" height="24px" style="vertical-align: middle;"></a> <span style="color: darkcyan;">Homelab</span></p>
            <p>If you want to find me on socials you can find my links <a href="/links"><span style="color: red;">HERE</span></a></p> 
            </div>

            <div class="blips">
                <span style="font-size: 28px;">Random notes and thoughts</span>
                <hr>
                <% blips.forEach(blip => { %>
                 <p><%- blip.content %></p>
                <% }) %>
            </div>

            <div class="centered-box">
                <p>Frens and or other cool places</p>
                <a href="/">
                    <img src="/img/cybrix-88x31.png">
                </a>
                <a href="https://slythefloof.ca">
                    <img src="/img/slythefloof-88x31.png">
                </a><br>
                <hr>
                <a href="https://www.furaffinity.net/journals/abysswyvern/#jid:10892652">
                    <img src="/img/other/abyss.jpg" height="88"><br>
                    
                    <span style="color: black;">Abyss_Wyvern (The lovley bean who made my avi textures)</span>
                </a><br>

            </div>
        </div>
        <div class="footer"><%- include('includes/footer') %></div>
    </div>
    
</body>
</html>