<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home • Cybrix.dev</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="site-main">
        <div class="site-nav">
            <%- include('./includes/nav') %>
        </div>
        <div class="main-content">
            <img src="/img/Cybrix Banner.png" height=" 128px">
            <p>Hello and welcome to my website</p>           
        </div>
        <div class="footer">
            running version: <%- siteVersion %>
        </div>
    </div>
</body>
</html>