<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Signup - Cybrix.dev</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="site-main">
        <div class="site-nav">
            <%- include('./includes/nav') %>
        </div>
        <div class="main-content">
            <form action="/users/login" method="post" style="border: 1px solid #2de2e6;  margin: auto; background-color: black; height: 35vh; width: 25vw;">
                <span>Please enter your information to login</span><br>
                <br>
                <label for="username">Please enter your username</label><br>
                <input type="text" name="username" id="username" placeholder="Username"><br>
                <br>
                <label for="password">Please enter your password</label><br>

                <input type="password" name="password" id="password" placeholder="Password"><br>
                <br>
                <span>Don't have an account? Create one <a href="/users/new">here!</a></span>
                <br>
                <input type="submit" value="Login">


            </form>
        </div>
    </div>
</body>
</html>