<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- pageBuilderData.title %></title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="site-main">
        <div class="site-nav">
            <%- include('./includes/nav') %>
        </div>
        <%- include('./includes/contentWarning') %>

        <div class="main-content">
            <!-- BEGIN PageBuilder Generated Content -->
            <%- pageBuilderData.content %>
            <!-- END PageBuilder Generated Content -->
        </div>
    </div>
</body>
</html>