<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table style="background-color: silver; width: auto; overflow-y: scroll; max-height: 500px;">
        <tr>
            <th><span style="color: magenta;">FAVE</span></th>
            <th><span style="color: green;">YES</span></th>
            <th><span style="color: goldenrod;">MAYBE</span></th>
            <th><span style="color: red;">NO</span></th>
            <th><span style="color: blue;">QUESTIONING</span></th>
        </tr>
        <!-- FAVE -->
        <tr>
            <td>
                <p>Anal Sex (Receiving)</p>
                <p>Canines</p>
                <p>Cum</p>
                <p>Felines</p>
                <p>Felatio (Performing)</p>
                <p>Felatio (Receiving)</p>
                <p>Knotting / Tying</p>
                <p>Sheath Play</p>
                <p>Felatio Shooting Precum</p>
                <p>Vulpines</p>



            </td>

            <!-- YES -->
            <td>
                3+ Penetration<br>
                Ahegao<br>
                Anal Sex (Giving)<br>
                Anal Training<br>
                Anal Virginity<br>
                Auto-Fellatio<br>
                Avians<br>
                Cervines<br>
                Chastity<br>
                Clit Play<br>
                Cock Warming<br>
                Consensual<br>
                Creampie<br>
                Crossdressing<br>
                Cunnilingus (Giving)<br>
                Dirty Talking<br>
                Docking<br>
                Double Penetration<br>
                Dragons<br>
                Drawn Image References<br>
                Face-Fucking<br>
                Fingering (Anal)<br>
                Fingering (Vaginal)<br>
                Foreplay<br>
                Frotting<br>
                Gaping (Vaginal)<br>
                Heat / Rut<br>
                Hyaenidae<br>
                Incest (Siblings)<br>
                Instant Hookups<br>
                Internal Cumshots<br>
                Latex / Rubber<br>
                Mammals<br>
                Marsupials<br>
                Multiple Characters<br>
                Multiple Orgasms<br>
                Oral Sex (Giving)<br>
                Oral Sex (Receiving)<br>
                Oral Virginity<br>
                Pokémon<br>
                Powerbottoming<br>
                Private Roleplay<br>
                Prostate Play<br>
                Public Room Roleplay<br>
                Realistic Cum<br>
                Roleplay Perspective - First Person<br>
                Roleplay Perspective - Second Person<br>
                Roleplay Perspective - Third Person<br>
                Sex Driven<br>
                Sex Toys<br>
                Sexual Exhaustion<br>
                Sexual Frustration<br>
                Sexy / Slutty Clothing<br>
                Socks / Stockings<br>
                Somnophilia<br>
                Squirting<br>
                Stomach Bulging<br>
                Swallowing Semen<br>
                Tantric Sex<br>
                Teasing<br>
                Vaginal Sex (Giving)<br>
                Vaginal Virginity<br>
                Vanilla Sex<br>
                Procyonidae<br>
                Reptiles<br>
                Cum Milking<br>
                Exotic Species<br>
                Mustelidae<br>
                Breeding<br>

            </td>
            <!-- MAYBE -->
            <td>
                Bats<br>
                Bovines<br>
                Caprinae<br>
                Cervical Penetration<br>
                Clothed Sex<br>
                Cock / Balls Worship<br>
                Degradation<br>
                Demons<br>
                Digimon<br>
                Dinosaurs<br>
                Divinities<br>
                Elves<br>
                Excessive Precum<br>
                Excessive Semen<br>
                Extreme Tightness<br>
                Fish / Sharks<br>
                Flaccid Play<br>
                Gangbangs<br>
                Gaping (Anal)<br>
                Glasses<br>
                Humanoids<br>
                Humans<br>
                Inexperienced Partners<br>
                Kissing<br>
                Licking<br>
                Marine Mammals<br>
                Mephitis<br>
                Mustelidae<br>
                Nonsexual Roleplay<br>
                Onomatopoeia<br>
                Pegging<br>
                Photograph References<br>
                Plot Twists<br>
                Predator Species<br>
                Premature Ejaculation<br>
                Prey Species<br>
                Rimming (Giving)<br>
                Rimming (Receiving)<br>
                Robots, Cyborgs, Androids<br>
                Rodents / Murines<br>
                Saliva<br>
                Sexual Restraints<br>
                Sloppy Seconds<br>
                Soft Cum Facials<br>
                Story Driven<br>
                Storytelling (Player)<br>
                Strap-ons<br>
                Strip Tease<br>
                Stuckage<br>
                Tail Pulling<br>
                Tailsex<br>
                Thick / Sticky Cum<br>
                Throat Penetration<br>
                Undead<br>
                Underwear<br>
                Underwear Bulges<br>
                Uniforms<br>
                Unusual Semen<br>
                Ursines<br>
                Verbal Abuse<br>
                Wardrobe Malfunctions Bats<br>
                Bovines<br>
                Caprinae<br>
                Cervical Penetration<br>
                Clothed Sex<br>
                Cock / Balls Worship<br>
                Degradation<br>
                Demons<br>
                Digimon<br>
                Dinosaurs<br>
                Divinities<br>
                Elves<br>
                Excessive Precum<br>
                Excessive Semen<br>
                Exotic Species<br>
                Extreme Tightness<br>
                Fish / Sharks<br>
                Flaccid Play<br>
                Gangbangs<br>
                Gaping (Anal)<br>
                Glasses<br>
                Humanoids<br>
                Humans<br>
                Inexperienced Partners<br>
                Kissing<br>
                Licking<br>
                Marine Mammals<br>
                Mephitis<br>

                Nonsexual Roleplay<br>
                Onomatopoeia<br>
                Pegging<br>
                Photograph References<br>
                Plot Twists<br>
                Predator Species<br>
                Premature Ejaculation<br>
                Prey Species<br>
                Rimming (Giving)<br>
                Rimming (Receiving)<br>
                Robots, Cyborgs, Androids<br>
                Rodents / Murines<br>
                Saliva<br>
                Sexual Restraints<br>
                Sloppy Seconds<br>
                Soft Cum Facials<br>
                Story Driven<br>
                Storytelling (Player)<br>
                Strap-ons<br>
                Strip Tease<br>
                Stuckage<br>
                Tail Pulling<br>
                Tailsex<br>
                Thick / Sticky Cum<br>
                Throat Penetration<br>
                Undead<br>
                Underwear<br>
                Underwear Bulges<br>
                Uniforms<br>
                Unusual Semen<br>
                Ursines<br>
                Verbal Abuse<br>
                Wardrobe Malfunctions<br>   
            </td>
            <!-- NO -->
            <td>
                Absorption<br>
                Age Differences<br>
                Age Progression<br>
                Age Regression<br>
                Ageplay<br>
                All the Way Through<br>
                Alternative Pregnancy<br>
                Alternative Vore<br>
                Anal Fisting<br>
                Anal Pregnancy<br>
                Anal Prolapse<br>
                Anal Vore<br>
                Approaching IC<br>
                Approaching OOC<br>
                Ass to Mouth<br>
                Bathroom Control<br>
                Birthing<br>
                Cannibalism<br>
                Clothing Play<br>
                Cock / Ball Smothering<br>
                Cock Slapping<br>
                Cock Vore<br>
                Condoms<br>
                Cooking (Vore)<br>
                Crotch Sniffing<br>
                Cum Bath<br>
                Cum Enemas<br>
                Cum From Mouth / Nose<br>
                Cum Marking<br>
                Cum Vomit<br>
                Cum on Clothes<br>
                Diapers<br>
                Digestion<br>
                Disposal<br>
                Driders<br>
                Drug / Alcohol Use<br>
                Enemas<br>
                Equines<br>
                Extreme Pregnancy<br>
                Face-Sitting<br>
                Fae<br>
                Felching<br>
                Fingers in Mouth<br>
                Food Play<br>
                Footgear Worship<br>
                Force Feeding<br>
                Forced Clotheswearing<br>
                Forced Incest<br>
                Forced Nudity<br>
                Foreskin Worship<br>
                Hard Cum Facials<br>
                Hard Vore<br>
                Heavily Excessive Precum<br>
                Heavily Excessive Semen<br>
                Humiliation<br>
                Hyper Scat<br>
                Hyper Watersports<br>
                Hypnotism / Mind Control<br>
                Ice<br>
                Impotence<br>
                Impregnation<br>
                Incest (Parental)<br>
                Infantilism<br>
                Insects / Arachnids<br>
                Kemonomimi<br>
                Lamia / Naga<br>
                Lapines<br>
                Leather<br>
                Lima Syndrome<br>
                Living Insertions<br>
                Male Pregnancy<br>
                Marking<br>
                Masks<br>
                Master / Pet<br>
                Master / Slave<br>
                Mental Torture<br>
                Mollusca<br>
                Monkeys / Primates<br>
                Monsters<br>
                Moogles<br>
                My Little Pony<br>
                Natural Musk<br>
                Nipple Penetration<br>
                Non-Standard Penetration<br>
                Objectification<br>
                Oral Fixation<br>
                Orcs<br>
                Orientation Play<br>
                Oviposition<br>
                Parasites<br>
                Physical Restraints<br>
                Piss Enemas<br>
                Plants<br>
                Potions / Injections<br>
                Pregnancy<br>
                Public Humiliation<br>
                Puppy / Pony Play<br>
                Pussy Worship<br>
                Queefing<br>
                Realistic Vore<br>
                Risk of Pregnancy<br>
                Scat<br>
                Scat Torture<br>
                Sentient Cocks<br>
                Shaving<br>
                Smoking<br>
                Snowballing<br>
                Soft Vore<br>
                Soiling<br>
                Sounding<br>
                Speech Restrictions<br>
                Stockholm Syndrome<br>
                Storytelling (Narrator)<br>
                Swallowing Feces<br>
                Swallowing Urine<br>
                Sweat<br>
                Taurs<br>
                Teeth Play<br>
                Tickling<br>
                Unbirthing<br>
                Underage Characters<br>
                Unrealistic Vore<br>
                Uppity<br>
                Urethra Play<br>
                Vaginal Fisting<br>
                Vaginal Prolapse<br>
                Vampires<br>
                Vore (Being Predator)<br>
                Vore (Being Prey)<br>
                Wetting<br>
                Xeno / Alien <br>
            </td>

            <td>
                Watersports<br>
                
            </td>

        </tr>
    </table>
</body>
</html>