<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="links" style="text-align: center;">
        <a href="https://www.youtube.com/@CybrixTheProot"><span style="color: red;">You</span><span style="color: white;">Tube</span></a>
        <a href="https://www.twitch.tv/itscybrix">TWITCH</a>
        <a href="">TWITTER</a>
        <a href="">TWITTER(<span style="color: red;">AD</span>)</a>
        <a href="">BlueSky</a>
        <a href="">BLUESKY(<span style="color: red;">AD</span>)</a>
        <a href="">GITHUB</a>
    </div>
</body>
</html>