



<li><Cyan>0xburden</Cyan>@<Cyan>codepen</Cyan></li>
<li>-----------------</li>
<li><Cyan>OS</Cyan>: Arch BTW</li>
<li><Cyan>Host</Cyan>: Cybrix.dev</li>
<li><Cyan>Kernel</Cyan>: <%- siteVer %></li>
<li><Cyan>Uptime</Cyan>: [CODE TO MAKE THIS WORK HERE]</li>
<li><Cyan>Packages</Cyan>: 18 (enough to party)</li>
<li><Cyan>Shell</Cyan>: bash 5.0.3</li>
<li><Cyan>Resolution</Cyan>: SMALLxSMALL</li>
<li><Cyan>Terminal</Cyan>: alacritty</li>
<li><Cyan>CPU</Cyan>: Intel i7-1075H (6) @ 2.60GHz</li>
<li><Cyan>GPU</Cyan>: Nvidia RTX 2070</li>
<li><Cyan>Memory</Cyan>: 1993MiB / 16384MiB</li>
<li>{colors.map(color => <Block color={color}/>)}</li>


