<li><Cyan>0xburden</Cyan>@<Cyan>codepen</Cyan></li>
<li>-----------------</li>
<li><Cyan>OS</Cyan>: CodePen baby!</li>
<li><Cyan>Host</Cyan>: The Wired</li>
<li><Cyan>Kernel</Cyan>: 4.20.69-nice</li>
<li><Cyan>Uptime</Cyan>: 7 days, 10 hours, 15 mins</li>
<li><Cyan>Packages</Cyan>: 18 (enough to party)</li>
<li><Cyan>Shell</Cyan>: bash 5.0.3</li>
<li><Cyan>Resolution</Cyan>: SMALLxSMALL</li>
<li><Cyan>Terminal</Cyan>: alacritty</li>
<li><Cyan>CPU</Cyan>: Intel i7-6500U (4) @ 3.100GHz</li>
<li><Cyan>GPU</Cyan>: Intel HD Graphics 520</li>
<li><Cyan>Memory</Cyan>: 1993MiB / 7890MiB</li>
<li>{colors.map(color => <Block color={color}/>)}</li>