<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <p>[ <span style="color: magenta;">INFO</span> ] Online presence:</p>

    <p>-- VRC: [ <span style="color: yellow;">Inactive</span> ] until 11/26/2024 - 37 Hours --</p>
    <p>-- Resonite: [ <span style="color: red;">Banned</span> ] since 09/2024 2607 Hours --</p>
    <p>-- Minecraft: [ <span style="color: lime;">ACTIVE</span> ] --</p>
</body>
</html>