<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <li>CPU: Intel core i7 1075H</li>
    <li>GPU: Nvidia RTX 2070 (Mobile)</li>
    <li>RAM: 16GB (That's all I know about it)</li>
    <li>>SSD: 512GB NVMe (Also don't know)</li>
    <li>HDD: 1TB Sata SSD (Also don't know)</li>
    <li>-----------------</li>
    <b>Periferals:</b>
    <li>Keyboard: MSI Vigor K50 Elite</li>
    <li>Mouse: Razer Balisic v3</li>
    <li>Audio Interface: Behringer Uphoria UM2</li>
    <li>MIC: None ;( (Using Webcam MIC)</li>
    <li>Stramdeck Original</li>
    <li>1: Verical mounted monitor from my dads work 2: Another monitor from my dads work 3: Laptop monitor</li>
    <li>-----------------</li>
    <b>VR Hardware</b>
    <li>HMD: Valve index</li>
    <li>Controllers: Valve knuckles controllers</li>
    <li>Trackers: (3) Vive 2.0 trackers</li>
    <li>Basestations: (2) Valve Basestations</li>
    
</body>
</html>