<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybrix.dev - 404!</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="site-main">
        <div class="site-nav">
            <%- include('../../../public/views/includes/nav.ejs') %>
        </div>
        <div class="main-content" style="margin: auto; text-align: center;">
            <h1>Error 404! The requested page could knot be found</h1>
            <h2><a href="/">Click here to return home</a></h2>
        </div>
    </div>
</body>
</html>