<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR 404! - Cybrix.dev</title>
    <!-- Define the CSS file for the site. -->
     <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('../includes/nav.ejs') %>

    <div class="site">
        <div class="main-content">
            <div class="content-title">ERROR!</div>
            <p>An error has occured and the page you've requested could not be located on this site. (Error: 404)</p>
        </div>
    </div>
</body>
</html>