@font-face {
    font-family: "Barlow";
    src: url('/font/BarlowCondensed.ttf');
  }

body{
    background-color: rgb(36,36,36);
    color: silver;
    font-family: "Barlow";
    font-size: 24px;

}

.site-nav{
    text-align: center;
    margin: auto;
    border-bottom: 2px solid #fd3777;
}

.site-nav li{
    display: inline-block;
    padding-left: 16px;
}

.site-nav a{
    font-size: 24px;    
    text-transform: uppercase;
    color: #2de2e6
}
a{
    text-decoration: none;
    color: #2de2e6;
}

a:hover{
    color: #541388;
}

a:visited{
    color: #2de2e6;
}

.main-content{
    text-align: center;
    margin: auto;
}

table, th, td{
    border: 1px solid silver;

}


