@font-face {
    font-family: 'modern_dos';
    src: url('/font/ModernDOS9x16.ttf');
    
}

body{
    background-color: black;
    color: silver;
    font-family: 'modern_dos';
    font-size: 24px;
}
li {
    list-style-type: none;  /* Remove default bullet or number */
  }


  .command-content{
overflow-y: auto;
  }
  
table{
  background-color: silver;

  color: black;
}

th{
  border: 3px solid white;
  border-spacing: 10000x;
}
td{
  vertical-align: top;
}

td:nth-child(1),
th:nth-child(1) {
    background-color: lightpink;
}
td:nth-child(2),
th:nth-child(2) {
    background-color: lightgreen;
}
td:nth-child(3),
th:nth-child(3) {
    background-color: lightyellow;
}
td:nth-child(4),
th:nth-child(4) {
    background-color: lightcoral;
}
td:nth-child(5),
th:nth-child(5) {
    background-color: lightblue;
}
a:visited {
  color: aqua;
}
a {
  color: aqua;
}
