@font-face {
    font-family: 'ModernDos';
    src: url('/font/ModernDOS8x8.ttf');
}
  

body{
    background-color: black;
    margin: 0;
}

.site-header{
    background-color: blue;
    width: 100vw;
    height: 32px;
    margin-bottom: 16px;
}

.site-header a{
    color: white;
    font-size: 24px;
    font-family: 'ModernDos';
    text-decoration: none;
    padding-right: 8px;
}

a{
    text-decoration: none;
}

.site-header a:hover{
    color: cyan;
    font-size: 28px;
    font-family: 'ModernDos';
    text-decoration: none;
    padding-right: 8px;
}





.centered-box{
    background-color: silver;
    margin: auto;
    margin-bottom: 25px;
    max-width: 50%;
    font-size: 24px;
    text-align: center;
    opacity: 1;
    padding: 8px;
    top: 50;
    left: 50;
    color: black;
    font-family: 'ModernDos';
}

.blurbs {
    position: fixed;
    top: 46px;           /* push it down a bit below the navbar */
    right: 20px;          /* spacing from the right edge */
    width: 320px;         /* give it a consistent width */
    background-color: silver;
    color: black;
    padding: 10px;
    border: 2px solid black;
    font-family: 'ModernDos';
    font-size: 24px;
    text-align: center;
    
}
.footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    color: lime;
    width: 100%;
}
