<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404! - CybrixNova.com</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="site-main">
        <div class="site-header">
            <%- include('../includes/header') %>
        </div>
        <div class="main-content">
            <div class="centered-box">
                <h1>404! That's an error</h1>
                <p>The page at the requested URL was either deleted, moved, or never existed...</p>
                <p>Click <span style="color: aqua;"><a href="/">Here</a> </span>to go home</p>
            </div>
        </div>
    </div>
    
</body>
</html>