<a href="/"><img src="/img/icons/win98/tree-1.png" height="24px" style="vertical-align: middle;"> <span style="vertical-align: middle;">Home</span></a>
<a href="/blog"><img src="/img/icons/win98/notepad-4.png" height="24px" style="vertical-align: middle;"> <span style="vertical-align: middle;">Blog</span></a>
<a href="/links"><img src="/img/icons/win98/network_internet_pcs_installer-3.png" height="24px" style="vertical-align: middle;"> <span style="vertical-align: middle;">Blog</span></a>
<a href="/nsfw-info"><img src="/img/icons/win98/restrict-1.png" height="24px" style="vertical-align: middle;"> <span style="vertical-align: middle;">NSFW Info</span></a>

