<link rel="icon" type="image/png" href="/img/Cybrix FavIcon.png">

<li>
    <a href="/">Home</a>
</li>


<li>
    <a href="/blog">Blog</a>
</li>

<li>
    <a href="/users/login">Login / Register</a>
</li>

<li>
    <a href="/kinks">Kinks</a>
</li>

<% if (locals.user) { %>
    <% if (user.level == "Admin" || user.level == "Owner") { %>
        <li><a href="/admin">Admin Panel</a></li>
    <% } %>
<% } %>


