<div class="site-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog <span style="color: red">(SOON)</span></a></li>
    <li><a href="/hw-wishlist">Wishlist (Parts and Hardware) <span style="color: red">(SOON)</span></a></li>

</div>