<li>
    <a href="/">Home</a>
</li>


<li>
    <a href="/blog">Blog</a>
</li>

<li>
    <a href="/users/login">Login / Register</a>
</li>

<li>
    <a href="/kinks">Kinks</a>
</li>

<% if (typeof user != "Undefined") { %>
 <li><a href="/admin">Admin Panel</a></li>
<% } %>
