<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Admin Dashboard</title>
</head>
<body>
    <div class="site-main">
        <div class="site-header">
            <%- include('../includes/header') %>
        </div>
        <div class="main-content">
            <div class="admin-nav">
                <a href="/admin/PageBuilder">PageBuilder</a><br>
                <a href="/admin/blogTools">BlogTools</a><br>
                <a href="/admin/files">Files</a><br>
                <a href="/admin/upload">File Uploader</a><br>
            </div>
        </div>
    </div>
</body>
</html>